<!-- Footer -->
<section class="footer">
        <div class="social" style="text-align:center">
                <a href="https://www.linkedin.com/in/aarshsaxena/">
                        <i class="fa fa-linkedin"></i>
                </a>
                <a href="https://www.instagram.com/aarshsaxena9/">
                        <i class="fa fa-instagram"></i>
                </a>
                <a href="https://github.com/aarshsaxena/">
                        <i class="fa fa-github"></i>
                </a>
        </div>
        <p class="copyright">2021 Copyright: Aarsh Saxena</p>
</section>

</body>


</html>